.pagedeco {
  width: 360px;
}
.formulaire input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 50%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}
.formulaire .buttonco {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FAD453;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formulaire .buttonco:hover,.formulaire .buttonco:active,.formulaire .buttonco:focus {
  background: #806D2E;
}
.formulaire .messageco {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formulaire .messageco a {
  color: #000000;
  text-decoration: none;
}
.formulaire .register-formulaire {
  display: none;
}