.pagedeco {
  width: 720px;
}
.inscription {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 720px;
  margin: 0 auto 100px;
  margin-top: 170px;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}
.inscription input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 40%;
  border: 0;
  margin: 0 30px 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.inscription .buttonco {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FAD453;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.inscription .buttonco:hover,.inscription .buttonco:active,.inscription .buttonco:focus {
  background: #806D2E;
}
.inscription .messageco {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.inscription .messagemdp {
  margin: 15px 0 0;
  color: black;
  font-size: 12px;
}
.inscription .messageco a {
  color: #000000;
  text-decoration: none;
}
.inscription .register-formulaire {
  display: none;
}
